span {
  padding: 15px;
}

.post-view {
  display: none;
}

.post-position {
  display: none;
}

.post-year {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}